<footer>
  <ul>
    <li><a href="https://airtable.com/shrKiJES3nlqxHBXx">Sign up</a></li>
    <li><a href="/aroma-discord/about">About Aroma Discord</a></li>
    <li><a href="/aroma-discord/calendar">Event Calendar</a></li>
    <li>
      <a href="/aroma-discord/discord">What is Discord? How do I use it?</a>
    </li>
    <li>
      <a href="/aroma-discord/community">Community Values & Guidelines</a>
    </li>
    <li>
  </ul>
</footer>

<p class="code">Last updated: September 30, 2020 | <a href="https://github.com/redbeakstudio/aromadiscord">Github</a></p>



{% stylesheet 'scss' %}
  // Import sass from your styles directory
  @import 'mixins';

  .code {
    font-size: 0.9rem;
    padding: 0.25rem;
    color: #666;
    a {
      color: #666;
      font-weight: 400;
    }
  }

  .coming-soon {
    opacity: 0.25;
  }

  footer {
    padding: 0.25rem;
    font-size: 1rem;
    margin: 0;
  }
{% endstylesheet %}
